*{
          font-family: "Poppins", sans-serif;

}

.home-page-container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}