.third-section-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 150px;
    gap: 50px;
    width: 80%;
}

.section-info-text{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.main-text{
    color: white;
    font-size: 50px;
    margin: 0;
}

.sub-text{
    color: rgb(212, 212, 212);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.feature-card{
    width: 350px;
    background: linear-gradient(
    145deg,
    #111827,
    #0a1a3d
    );
    border: 1px solid rgb(56, 56, 56);
    padding: 30px 60px;
    border-radius: 20px;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}
.feature-card:hover{
    border: 1px solid rgb(252, 3, 190);
}

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding: 15px 0;
    width: 80px;
    
    background-color: rgb(4, 7, 48);
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.feature-icon span{
    font-size: 45px;
    color: rgb(154, 106, 243);
}
.feature-card:hover .feature-icon {
    transform: scale(1.2);
}
.feature-text{
    font-size: 25px;
}
.feature-main-text{
    color: white;
    transition: color 0.2s ease-in-out;
}
.feature-card:hover .feature-main-text{
    color: rgb(255, 2, 234);
}
.feature-sub-text{
    color: rgb(194, 193, 193);
}

@media (max-width: 767px) {
    .features{
        flex-direction: column;
    }
    .feature-card{
        width: 80%;
    }
}